{% extends 'base.html' %}

<script>hljs.highlightAll();</script>

{% block content %}
<h1>{% block title %} {{demo_title}} {% endblock %}</h1>
<h2>Vulnerable Code</h2>
<pre><code class="python">
{{vulnerable_code}}
</code></pre>
<h2>Test Exploit</h2>
<form method="post" enctype=multipart/form-data>
    <div class="form-group">
        {% for param in exploit_params %}
        <label for="title">{{param.name}}</label>
        <input type="{{param.input_type}}" name="{{param.name}}" class="form-control"
            value="{{ request.form[param.name] }}"></input>
        </a>
        {% endfor %}
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
<h2>Exploit Help</h2>
<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Payload Generation Example
                </button>
            </h2>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <pre><code class="python">
{{generation_code}}
            </code></pre>
            </div>
        </div>
    </div>
</div>

{% endblock %}
